<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymleaf/layout"
      layout:decorator="template">

<head>
    <meta charset="UTF-8">
    <title>Gestion des clients</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<section layout:fragment="content">
    <form action="#" method="post" class="form-horizontal" enctype="multipart/form-data">
        <div class="col-md-12">
            <div class="form-group col-sm-1">
                <input  type="submit" class="btn btn-primary" value="Valider">
            </div>
<!--            <div class="form-group col-sm-1">-->
<!--                <input type="submit" class="btn btn-primary" value="Annuler">-->
<!--            </div>-->
<!--            <div class="form-group col-sm-">-->
<!--                <input type="submit" class="btn btn-primary" value="Imprimer">-->
<!--            </div>-->
        </div>
       <div class="col-md-6">
           <div class="panel panel-primary">
               <div class="panel-heading">Ajouter un client</div>
               <div class="panel-body">
                   <div class="col-md-12">
                       <div class="panel panel-default">
                           <div class="panel-heading">Type de client</div>
                            <div class="panel-body">
                                <div class="radio-inline col-md-3"><input type="radio" name="typeClient" value="P" checked>Particulier</div>
                                <div class="radio-inline col-md-3"><input type="radio" name="typeClient" value="E">Entreprise</div>
                            </div>
                       </div>
                   </div>
                   <div class="col-md-6">
                       <div class="panel panel-default">
                           <div class="panel-heading">Identite</div>
                           <div class="panel-body">
                               <input name="id" type="hidden">
                               <div class="form-group" >
                                   <div class="col-sm-12">
                                       <input type="text" class="form-control" id="entreprise" name="entreprise" placeholder="Nom entreprise" >
                                   </div>
                               </div>
                               <div class="form-group" >
                                   <div class="col-sm-6">
                                       <label for="civilite">Civilite</label>
                                       <select name="civilite" class="form-control" id="civilite" >
                                           <option value="M.">M.</option>
                                           <option value="Mme">Mme</option>
                                           <option value="Mlle">Mlle</option>
                                       </select>
                                   </div>
                               </div>
                               <div class="form-group" >
                                   <div class="col-sm-12">
                                       <input type="text" class="form-control" id="prenom" name="prenom" placeholder="Prenom" >
                                   </div>
                               </div>
                               <div class="form-group" >
                                   <div class="col-sm-12">
                                       <input type="text" class="form-control" id="nom" name="nom" placeholder="Nom">
                                   </div>
                               </div>
                               <div class="form-group" >
                                   <div class="col-sm-12">
                                       <label for="dateNaiss">Date de naissance</label>
                                       <input type="date" class="form-control" id="dateNaiss" name="dateNaiss" placeholder="Date de naissancee">
                                   </div>
                               </div>
                               <div class="form-group" >
                                   <div class="col-sm-12">
                                       <input type="text" class="form-control" id="lieuxNaiss" name="lieuxNaiss" placeholder="Lieux de naissance">
                                   </div>
                               </div>
                               <div class="form-group" >
                                   <div class="col-sm-12">
                                       <input type="text" class="form-control" id="cni" name="cni" placeholder="Numero d'idemtite (CNI)">
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
                   <div class="col-md-6">
                       <div class="panel panel-default">
                           <div class="panel-heading">Contact</div>
                           <div class="panel-body">
                              <div class="form-group">
                                  <div class="col-sm-12">
                                      <input type="text" class="form-control" id="numero" name="numero" placeholder="Numero" >
                                  </div>
                              </div>
                               <div class="form-group">
                                   <div class="col-sm-12">
                                       <input type="text" class="form-control" id="email" name="numero" placeholder="Email" >
                                   </div>
                               </div>
                              <div class="form-group">
                                  <div class="col-sm-12">
                                      <input type="text" class="form-control" id="adresse" name="numero" placeholder="Adresse" >
                                  </div>
                              </div>
                           </div>
                       </div>
                   </div>
                   <div class="col-md-6">
                       <div class="panel panel-default">
                           <div class="panel-heading">Autre information</div>
                           <div class="panel-body">
                              <div class="form-group">
                                  <div class="col-sm-12">
                                      <input type="text" class="form-control" id="pays" name="numero" placeholder="pays" >
                                  </div>
                              </div>
                              <div class="form-group">
                                  <div class="col-sm-12">
                                      <input type="text" class="form-control" id="ville" name="numero" placeholder="Ville" >
                                  </div>
                              </div>
                              <div class="form-group">
                                  <div class="col-sm-12">
                                      <input type="text" class="form-control" id="permis" name="numero" placeholder="Numero permis" >
                                  </div>
                              </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">liste des clients</div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>PRENOM</th>
                                <th>NOM</th>
                                <th>NUMERO</th>
                                <th>EMAIL</th>
                                <th>ADRESSE</th>
                                <th>MODIFIER</th>
                                <th>SUPPRIMER</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="c:${clients}">
                                <td th:text="${c.prenom}"></td>
                                <td th:text="${c.nom}">></td>
                                <td th:text="${c.telephone}"></td>
                                <td th:text="${c.email}"></td>
                                <td th:text="${c.adresse}"></td>
                                <td>
                                    <a href="#" >Modifier</a>
                                </td>
                                <td>
                                    <a href="#">Supprimer</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="container">
                        <ul class="nav nav-pills">
                            <li th:each="p:${pages}" th:class="${p==pageCourante}?active:''">
                                <a th:href="@{addClient(page=${p})}"  th:text="${p}"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
</body>
</html>