<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Administrateur</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<header>
    <nav class="navbar navbar-inverse" >
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Location Vehicule</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#" th:href="@{/index}">Accueil</a></li>

            </ul>
            <form action="#" th:action="@{/logout}" method="post">
                <button class="btn btn-danger navbar-btn navbar-right" >Se deconnecter</button>
            </form>
        </div>
    </nav>
</header>
<div class="col-md-12">
    <a class="navbar-link" th:href="@{/admin}">Saisie d'un utilisateur</a>
</div>
<div class="col-md-12">
    <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>NOM</th>
                    <th>EMAIL</th>
                    <th>LOGIN</th>
                    <th>PHOTO</th>
                    <th>MODIFIER</th>
                    <th>SUPPRIMER</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="u:${users}">
                    <td th:text="${u.nomComplet}"></td>
                    <td th:text="${u.email}"></td>
                    <td th:text="${u.login}"></td>
                    <td><img class="img-circle" width="50px" height="50px" th:src="@{/getPhoto(id=${u.id})}" alt="profile"></td>
                    <td>
                        <a href="#" th:href="@{/edit/{id}(id=${u.id})}">modifier</a>
                    </td>
                    <td>
                        <a onclick="return confirm('etes vous sur de vouloir supprimer ?')" href="#" th:href="@{/delete/{id}(id=${u.id})}">supprimer</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="container">
            <ul class="nav nav-pills">
                <li th:each="p:${pages}" th:class="${p==pageCourante}?active:''">
                    <a th:href="@{liste(page=${p})}"  th:text="${p}"></a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>