<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Administrateur</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
    <header>
        <nav class="navbar navbar-inverse" >
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Location Vehicule</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#" th:href="@{/index}">Accueil</a></li>

                </ul>
                <form action="#" th:action="@{/logout}" method="post">
                    <button class="btn btn-danger navbar-btn navbar-right" >Se deconnecter</button>
                </form>
            </div>
        </nav>
    </header>
    <div class="col-md-12">
        <a class="navbar-link" th:href="@{/liste}">Liste des utilisateurs</a>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12 spacer col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">Ajouter un utilisateur</div>
            <div class="panel-body">
                <form  action="#" th:object="${user}" th:action="@{/admin}" method="post" class="form-horizontal" enctype="multipart/form-data">
                    <input th:field="*{id}"  type="hidden">
                    <div class="form-group" >
                        <label for="photo" class="control-label col-sm-3" >Photo :</label>
                        <div class="col-sm-9">
                            <input name="image" type="file" class="form-control" id="photo" >
                            <div th:if="${user}">
                                <img  class="img-circle" width="50px" height="50px" th:src="@{/getPhoto(id=${user.id})}">
                            </div>

                        </div>
                    </div>
                    <div class="form-group" >
                        <label for="nom" class="control-label col-sm-3" >Nom :</label>
                        <div class="col-sm-9">
                            <input th:field="*{nomComplet}" type="text" class="form-control" id="nom" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email"  class="control-label col-sm-3">Email:</label>
                        <div class="col-sm-9">
                            <input th:field="*{email}" type="email" class="form-control" id="email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="login"  class="control-label col-sm-3">Login:</label>
                       <div class="col-sm-9">
                           <input th:field="*{login}" type="text" class="form-control" id="login">
                       </div>
                    </div>
                    <div class="form-group">
                        <label for="password"  class="control-label col-sm-3">Mot de passe:</label>
                        <div class="col-sm-9">
                            <input th:field="*{pwd}" type="password" class="form-control" id="password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="role"  class="control-label col-sm-3">Role:</label>
                        <div class="col-sm-9">
                            <select name="roles" class="form-control" id="role">
                                <option></option>
                                <option th:each="r:${role}" th:value="${r.id}" th:text="${r.libelle}" ></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-sm-offset-3 col-sm-9">
                            <button class="btn btn-primary" >Ajouter</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>